/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    color: #ea3e05;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 5px;
}

p {
    margin: 5px 0;
}

ul {
    list-style-type: circle;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.education, .experience {
    margin-bottom: 20px;
}

.education p span, .experience p span {
    float: right;
    color: #555;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
